.welcome {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  .body {
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Lantinghei SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  }
  .logo {
    text-align: center;
    padding:0 0 20px 0;
    height:100px;
    background-image:url("./images/ada.svg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
  }
  .title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height:45px;
  }
  .desc {
    text-align: center;
    font-size:12px;
    line-height:30px;
    a{
      padding:0 5px 0 5px;
    }
  }
}